BEGIN TRY

BEGIN TRAN;

-- CreateSchema
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'dbo') EXEC sp_executesql N'CREATE SCHEMA [dbo];';

-- CreateTable
CREATE TABLE [dbo].[User] (
    [id] NVARCHAR(1000) NOT NULL,
    [nome] NVARCHAR(1000) NOT NULL,
    [sobrenome] NVARCHAR(1000) NOT NULL,
    [email] NVARCHAR(1000) NOT NULL,
    [uf] NVARCHAR(1000) NOT NULL,
    [regional] NVARCHAR(1000) NOT NULL,
    [role] NVARCHAR(1000) NOT NULL,
    [ativo] BIT NOT NULL CONSTRAINT [User_ativo_df] DEFAULT 1,
    [criadoEm] DATETIME2 NOT NULL CONSTRAINT [User_criadoEm_df] DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT [User_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [User_email_key] UNIQUE NONCLUSTERED ([email])
);

-- CreateTable
CREATE TABLE [dbo].[Equipamento] (
    [id] NVARCHAR(1000) NOT NULL,
    [uuid] NVARCHAR(1000) NOT NULL,
    [codigo] NVARCHAR(1000) NOT NULL,
    [codigoGalao] NVARCHAR(1000),
    [tipo] NVARCHAR(1000) NOT NULL,
    [carga] NVARCHAR(1000),
    [agente] NVARCHAR(1000),
    [numeroSerieCilindro] NVARCHAR(1000),
    [capacidade] NVARCHAR(1000) NOT NULL,
    [pontoInstalacao] NVARCHAR(1000) NOT NULL,
    [base] NVARCHAR(1000) NOT NULL,
    [fabricacao] NVARCHAR(1000) NOT NULL,
    [proximaInspecao] NVARCHAR(1000) NOT NULL,
    [uf] NVARCHAR(1000) NOT NULL,
    [regional] NVARCHAR(1000) NOT NULL,
    [status] NVARCHAR(1000) NOT NULL,
    CONSTRAINT [Equipamento_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [Equipamento_uuid_key] UNIQUE NONCLUSTERED ([uuid]),
    CONSTRAINT [Equipamento_codigo_key] UNIQUE NONCLUSTERED ([codigo])
);

-- CreateTable
CREATE TABLE [dbo].[Inspecao] (
    [id] NVARCHAR(1000) NOT NULL,
    [equipamentoId] NVARCHAR(1000) NOT NULL,
    [inspetorId] NVARCHAR(1000) NOT NULL,
    [data] DATETIME2 NOT NULL CONSTRAINT [Inspecao_data_df] DEFAULT CURRENT_TIMESTAMP,
    [status] NVARCHAR(1000) NOT NULL,
    [latitude] FLOAT(53),
    [longitude] FLOAT(53),
    [observacoes] NVARCHAR(max),
    [uf] NVARCHAR(1000) NOT NULL,
    [regional] NVARCHAR(1000) NOT NULL,
    [respostas] NVARCHAR(max) NOT NULL,
    CONSTRAINT [Inspecao_pkey] PRIMARY KEY CLUSTERED ([id])
);

-- AddForeignKey
ALTER TABLE [dbo].[Inspecao] ADD CONSTRAINT [Inspecao_equipamentoId_fkey] FOREIGN KEY ([equipamentoId]) REFERENCES [dbo].[Equipamento]([id]) ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[Inspecao] ADD CONSTRAINT [Inspecao_inspetorId_fkey] FOREIGN KEY ([inspetorId]) REFERENCES [dbo].[User]([id]) ON DELETE NO ACTION ON UPDATE CASCADE;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

